<header>
  <div class="logo">
    <a href="/">ЛАВР</a>
  </div>
  <div class="menu">
    <a href="#about">О ПРОЕКТЕ</a>
    <a href="#event">EVENT</a>
    <a href="#stories">ИСТОРИИ</a>
  </div>
</header>