<header>
  <div class="logo">
    <a href="/">ЛАВР</a>
  </div>
  <div class="menu">
    <%= link_to "О ПРОЕКТЕ", root_path(anchor: 'about'), class: 'menu_item' %>
    <%= link_to "EVENT", root_path(anchor: 'event'), class: 'menu_item' %>
    <%= link_to "ИСТОРИИ", root_path(anchor: 'stories'), class: 'menu_item' %>
  </div>
</header>