<div class='new_story black-bg'>
  <%= render 'header' %>

  <div class='content-wrapper'>
    <h2 class='main_header'>Поделись своей историей</h2>

    <%= render 'form', story: @story%>
  </div>
</div>