/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Proxima Nova';
  color: #111111;
}

@import './header.scss';


.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 20px;
}

a {
  text-decoration: none;
}

.first-screen {
  background-image: image-url('bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  .text {
    font-size: 90px;
    letter-spacing: 0.34em;
    color: white;
    margin: 0 auto;
    font-family: 'Wremena';
    font-weight: bold;
  }
}

.main_header {
  font-family: 'Wremena';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #111111;
}

p {
  max-width: 750px;
  margin: 0 auto 30px auto;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
}

.btn-wrap {
  text-align: center;
}

.btn {
  color: #111111;
  cursor: pointer;
  font-family: 'Wremena';
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  border: 2px solid #111111;
  box-sizing: border-box;
  padding: 20px 60px 15px;
  display: inline-block;
  background-color: transparent;
}

.black-bg {
  background: #2E2E2E;

  p,
  a {
    color: white;
  }

  .btn {
    border-color: white;
    color: white;
  }

  .main_header {
    color: white;
  }
}

.event {
  .bold {
    font-weight: 600;

    a {
      text-decoration: underline;
    }
  }

  .register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    .line {
      border-right: 2px solid #FFFFFF;
      height: 70px;
    }

    .title {
      font-family: Wremena;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: white;
    }

    .info {
      font-weight: 600;
      font-size: 22px;
      color: white;
    }
  }

}



footer {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    >div {
      flex: 1;
    }

    .text {
      font-weight: 600;
      font-size: 18px;
      color: white;
    }

    .opia {
      display: flex;
      justify-content: center;

      .opia-img {
        max-width: 100px;
      }
    }

    .postpictures {
      display: flex;
      justify-content: flex-end;

      .postpictures-img {
        max-width: 260px;
      }
    }
  }
}