footer {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    >div {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }

    .text {
      font-weight: 600;
      font-size: 18px;
      color: white;
      line-height: 120%;

      @media screen and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    .teatr_doc {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      &_img {
        width: 100%;
        max-width: 120px;
      }
    }

    .opia {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;

        &_img {
          max-width: 70px;
        }
      }

      &_img {
        max-width: 100px;
        width: 100%;
      }
    }

    .postpictures {
      &_img {
        max-width: 260px;

        @media screen and (max-width: 767px) {
          max-width: 200px;
        }
      }
    }

  }
}