footer {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    >div {
      flex: 1;
    }

    .text {
      font-weight: 600;
      font-size: 18px;
      color: white;
      line-height: 120%;

      @media screen and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    .opia {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .opia-img {
        max-width: 100px;

        @media screen and (max-width: 767px) {
          max-width: 70px;
        }
      }
    }

    .postpictures {
      display: flex;
      justify-content: flex-end;

      .postpictures-img {
        max-width: 260px;

        @media screen and (max-width: 767px) {
          max-width: 200px;
        }
      }
    }
  }
}