header {
  font-family: 'Wremena';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;

  @media screen and (max-width: 767px) {
    padding: 20px;

    .menu {
      display: none;
    }
  }

  * {
    letter-spacing: 0.3em;
    line-height: 24px;
    font-weight: 700;
  }

  .logo a {
    font-size: 24px;
    color: white;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  .menu_item {
    padding-left: 70px;
    font-size: 16px;
    color: white;

    @media screen and (max-width: 1024px) {
      padding-left: 30px;
    }
  }
}