<footer class="black-bg">
  <div class="content-wrapper">
    <div class="text">
      Спасибо нашим партнерам:
    </div>
    <div class="opia">
      <%= image_tag  "opia_LOGO-17-white.png", class: "opia-img", alt: 'opia' %>
    </div>
    <div class="postpictures">
      <%= image_tag  "post-logo-white-alpha.svg", class: "postpictures-img", alt: 'postpictures' %>
    </div>
  </div>
</footer>