<footer class="black-bg">
  <div class="content-wrapper">
    <div class="text">
      Наши партнеры:
    </div>
    <div class="teatr_doc">
      <%= image_tag  "LOGO_TEATRDOC_WHITE.svg", class: "teatr_doc_img", alt: 'teatr.doc' %>
    </div>
    <div class="opia">
      <%= image_tag  "opia_LOGO-17-white-1.png", class: "opia_img", alt: 'opia' %>
    </div>
    <div class="postpictures">
      <%= image_tag  "post-logo-white-alpha-1.png", class: "postpictures_img", alt: 'postpictures' %>
    </div>
  </div>
</footer>