<footer class="black-bg">
  <div class="content-wrapper">
    <div class="text">
      Спасибо нашим партнерам:
    </div>
    <div class="opia">
      <div><%= image_tag  "opia_LOGO-17-white-1.png", class: "opia-img", alt: 'opia' %></div>
    </div>
    <div class="postpictures">
      <div><%= image_tag  "post-logo-white-alpha-1.png", class: "postpictures-img", alt: 'postpictures' %></div>
    </div>
  </div>
</footer>